*{
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
   
}
.header{
    position: fixed;
    top: 0;
    left: 0;
}
.logo{
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    margin-left: 5rem;
    top: 10;
}
.navbar a{
    font-size: 16px;
    margin-left: 20rem;
    text-decoration: none;

}
.navbar a:hover{
    color: red;
}
.home-content h1{
    color: #fff;
    font-size: 60px;
    margin-top: 180px;
    letter-spacing: 5px;
    margin-left: 80px;
}
.home-content p{
    font-size: 24px;
    margin-left: 80px;
    color: #fff;
}
.btn{
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    
}
